@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&display=swap');
*{
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
*{
    box-sizing: border-box;
}
nav{
    width: 100%;
    height: 75px;
    background-color: black;
    line-height: 75px;
    padding: 0px 100px;
    position:fixed;
    z-index: 1;
}
nav .logo{
    float: left;
}
nav ul{
    float: right;
}
nav ul li{
    display:inline-block;
    list-style: none;
}
nav ul li a{
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
    text-transform: capitalize;
    padding: 0px 32px;
}
nav ul li a:hover{
    color: white;
    font-weight: 500;
}
nav ul li .active{
    color: white;
    font-weight: 500;
}
.model{
    width: 500px;
    height: 500px;
    padding-right: 200px;
    justify-content: left;
}
.herosection{
    align-content: flex-end;
}
.model{
    object-fit: contain;
}
.content{
    width: 500px;
    height: 500px;
}
.content{
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.main-text{
    width: 500px;
    min-height: calc(100vh - 211px - 58px);
}
.main-text h1{
    font-weight: normal;
    font-size: 25px;
    margin: 95px 0px 30px 0px;
    line-height: 60px;
    color: rgb(71, 71, 71);
}
.main-text h2{
    font-weight: 900;
    font-size: 36px;
    line-height: 50px;
    margin: 0px 0px 30px 0px;
    color: black;
}
.main-text p{
    font-weight:lighter;
    font-size: 16px;
    margin: 0px 0px 80px 0px;
    color: rgb(71, 71, 71);
}
.main-text h3{
    height: 44px;
    margin: 20px 0px 0px 0px;
    display: flex;
    align-content:center;
}
.social-footer li{ 
    position: absolute;
    top: 50%;
    left: 50%;
    padding:0%;
    margin: 0;
    transform: translate(-50%, -50%);
    display: flex
}
.social-footer ul li{
    list-style: none;
    margin: 0 15px;
}
.social-icons ul li{
    position:absolute;
    top: 42%;
    transform: translateY(-55);
    width: 100px;
    height: 60px;
    text-align: center;
}
.icon{
    display: inline-block;
    width: 90px;
    height: 90px;
    background-color: black;
    margin: 50px 0px 10px 0px ;
    border-radius: 50%;
    position:relative;
    justify-content:space-around;
    overflow: hidden;
}
.icon i{
    line-height: 90px;
    font-size: 30px;
}
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    text-align: center;
    padding: 300px
}